.featured-posts {
  // height: 400px;
  margin: 5px 0 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed #ddd;
  h2{
    margin-bottom: 0.2rem;
    margin-top: 1.5rem;
  }
  .time{
    font-size: 14px;
    color: #999;
  }
  .dis{
    font-size: 16px;
    padding-top: 15px;
  }
}
// .featured-posts h2 {
//   bottom: 41px;
//   margin: 0;
//   padding: 10px;
//   position: absolute;
// }
// .featured-posts h2 span {
//   //  display: inline-block;
//    color: white;
//    font: bold 24px/45px Helvetica, Sans-Serif;
//    letter-spacing: -1px;
//    background: rgb(0, 0, 0); /* fallback color */
//    background: rgba(0, 0, 0, 0.7);
//    padding: 10px;
// }
// .featured-posts span a {
//   color: white;
// }
// .featured-posts h1 {
//   margin: 10px;
// }
// .featured-posts div{
//   position: absolute;
//   bottom: 0;
//   color: #fff;
//   padding: 0 0 10px 10px;
//   margin-top: 0;
// }
// .featured-posts div span{
//   display: inline-block;
//   background: rgb(0, 0, 0); /* fallback color */
//   background: rgba(0, 0, 0, 0.7);
//   padding: 10px;
// }
/*
  Pagination
*/

.pagination {
  text-align: center;
  padding-top: 20px;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  width: 110px;
  position: relative;
  overflow: hidden;
  color: #999;
  border: 1px solid #ddd;
  background-color: #f5f6f7;
  padding: 10px 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  font-size: 16px;
  line-height: 34px;
  height: 34px;
  // font-weight: bold;
}
.pagination-active {
  color: #3f51b5;
  border: 1px solid #3f51b5;
  background-color: transparent;
}
// .pagination-active:hover {
//   background-color: #e0e0e0;
// }
